/* reset */
body {
    margin: 0;
    padding: 0;
}

figure{
    margin: 0;
}
/* header */

#upper-bar{
    background-image: url('..//img/pattern.png');
    background-repeat: repeat-x;
    background-size: 630px 190px;
    background-color: lightblue;
    height: 100px;
}

#theboolean-logo{
    width: 15%;
    height: 50px;
    margin-top: 25px;
    margin-left: 10px;
}

#tim-images-container {
    margin-left: 10px;
}

#tim-images{
    width: 900px;
    height: 600px;
}
/* main */

/* footer */