/* reset */
body {
    margin: 0;
    padding: 0;
}
/* header */

#upper-bar{
    background-image: url('..//img/pattern.png');
    background-color: lightblue;
}

#theboolean-logo{
    width: 20%;
    height: 100px;
}

/* main */

/* footer */